<!DOCTYPE html>
<html ng-app="ShoppingListCheckOff">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <div ng-controller="ToBuyController as toBuyCtrl">
    <h2>To Buy:</h2>
    <ul>
      <li ng-repeat="item in toBuyCtrl.items">
        Buy {{ item.quantity }} {{ item.name }}
        <button ng-click="toBuyCtrl.buyItem($index)">Bought</button>
      </li>
    </ul>
    <div ng-if="toBuyCtrl.items.length === 0">Everything is bought!</div>
  </div>

  <div ng-controller="AlreadyBoughtController as boughtCtrl">
    <h2>Already Bought:</h2>
    <ul>
      <li ng-repeat="item in boughtCtrl.items">
        Bought {{ item.quantity }} {{ item.name }}
      </li>
    </ul>
    <div ng-if="boughtCtrl.items.length === 0">Nothing bought yet.</div>
  </div>

  <script src="app.js"></script>
</body>

</html>